
<div ng-controller="customersController">
	<h4><a href="#/dashboard">Dashboard</a> | <a href="#/products">Products</a> | <a href="#/orders">Orders</a> | Customers</h4>
	<div class="container-fluid">
		<h2><u>Add a new customer</u></h2>
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-md-6">
					<label for="name">Customer</label>
					<input class="form-control" type="text" name="name" placeholder="Customer Name" ng-model="newCustomer.name">
				</div>
			</div>
			<button type="submit" ng-click="addCustomer()" class="btn btn-primary">Add Customer</button>
		</form>
		<br>
		<div class="col-md-2 pull-right">
			<input type="text" ng-model="filter_name" placeholder="search name...">
		</div>
		<div class="error"></div>
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>Customer Name</th>
						<th>Created</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="customer in customers | filter: filter_name | orderBy:'created'">
						<td><span ng-bind="customer.name"></span></td>
						<td><span ng-bind="customer.created | date: 'MMMM d, yyyy h:mm a'"></span></td>
						<td><button ng-click="removeCustomer($index)" class="btn btn-danger">Remove</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
						